<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="icon" href="">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="">
        <h1>{{title}}</h1>
        {{message}}
    </div>
    {{>footer}}
</body>

</html>