<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="icon" href="">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <p>Welcome to the Task Manager App</p>
    <div>
        <h1>{{title}}</h1>
        <div class="home_Page">
            <input placeholder="Name">
            <input placeholder="Password">
            <button>Sign Up</button>
            <button>Sign In</button>
        </div>
    </div>

    {{!-- <div class="main-content">
        {{>header}}
        <h1>{{title}}</h1>
        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
    </div> --}}
    {{>footer}}
    {{!-- <script src="js/app.js"></script> --}}
</body>

</html>