<!DOCTYPE>
<html>

<head>
    <title>{{title}}</title>
    <link rel="icon" href="">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <p>Welcome to the Task Manager App</p>
    <div>
        <h1>{{title}}</h1>
        <div class="home_Page">
            <form>
                <input name="name" placeholder="Name">
                <input name="password" placeholder="Password" type="password">
                <button type="submit" id="signIn">Sign In</button>
                <button type="submit" id="signUp">Sign Up</button>
            </form>
        </div>
    </div>
    {{>footer}}
    <script src="js/login.js"></script>
</body>

</html>