:root {
  --primary-color: #302ae6;
  --secondary-color: #536390;
  --font-color: white;
  --bg-color: hsl(237, 14%, 26%);
  --heading-color: #292922;
  --background-image-1: url("../images/bg-desktop-dark.jpg");
  --background-image-2: hsl(235, 21%, 11%);
  --background-image-mobile: url("../images/bg-mobile-dark.jpg");
  --desktop: 1200px;
  --laptop: 1024px;
  --tablet: 768px;
  --phone: 480px;
}
[data-theme="light"] {
  --primary-color: #302ae6;
  --secondary-color: #536390;
  --font-color: black;
  --bg-color: white;
  --heading-color: #292922;
  --background-image-1: url("../images/bg-desktop-light.jpg");
  --background-image-mobile: url("../images/bg-mobile-light.jpg");
  --background-image-2: rgba(255, 255, 255, 0);
}
body {
  background: var(--background-image-1) no-repeat, var(--background-image-2);
  margin: 0;
  background-position: top;
  background-size: 100%;
}

main {
  height: 100%;
  margin: auto;
  width: 50%;
  vertical-align: middle;
}
.heading {
  display: flex;
  margin: 30px 0px 30px 0px;
}
.heading > h3 {
  flex: 1;
  font-size: 28px;
  font-weight: 900;
  color: white;
  font-family: Monospace;
  letter-spacing: 0.4em;
}
.heading > input {
  padding: 30px 0px 30px 0px;
  outline: none;
}
.boxList {
  background-color: var(--bg-color);
  width: auto;
  border: 1px solid grey;
  padding: 10px;
  display: flex;
}
.boxList > input {
  background-color: var(--bg-color);
  text-decoration: inherit;
  border: 0;
  flex: 1;
  color: var(--font-color);
  outline: none;
}
.boxList > p {
  flex: 1;
  color: var(--font-color);
  margin: 0;
}
.newTodo {
  margin: 0px 0px 20px 0px;
}
.button {
  background-color: black;
  border: none;
  padding: 8px;
  margin: 0px 20px 0px 0px;
  cursor: pointer;
  border-radius: 90%;
  outline: none;
}

.statesFlex {
  display: flex;
  margin: 10px 0px 0px 10px;
}
.statesFlex > div {
  margin-right: 5px;
  margin-left: 5px;
}

.flexOne {
  flex: 1;
}
.boxList > div {
  color: var(--font-color);
  /* margin: 10px; */
  font-size: 14px;
}
.divMargin {
  margin: 10px 0px 10px 10px;
}

.footer {
  display: flex;
  margin: 20px;
  justify-content: center;
}
.attribution {
  align-items: flex-end;
  font-size: 11px;
  justify-content: center;
  display: flex;
  height: 260px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
.visible-mobile {
  display: none;
}
.visible-desktop {
  justify-content: space-evenly;
}

/* adding media queries for tablets and mobile screens screens */

@media screen and (max-width: 376px) {
  body {
    background: var(--background-image-mobile) no-repeat,
      var(--background-image-2);
  }
  main {
    width: 70%;
  }
  .heading {
    margin: 25px 0px 0px 0px;
  }
  .visible-desktop {
    display: none;
  }
  .mobile-bar {
    margin-top: 10px;
    justify-content: wrap;
  }
  .mobile-bar > div {
    margin-right: 20px;
    margin-left: 20px;
  }
  .mobile-att-bar > p {
    margin-top: 5px;
  }
  .statesFlex > p {
    margin: 0;
  }
  .visible-mobile {
    display: initial;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  main {
    width: 70%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  main {
    width: 50%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  main {
    width: 40%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  main {
    width: 30%;
  }
}
